**/.git
**/.gitignore
**/.github
**/.gitlab

**/target/
**/build/
**/out/
**/bin/

**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws
**/.classpath
**/.project
**/.settings/
**/.nbproject/

**/*.log
**/logs/

**/.mvn/wrapper/maven-wrapper.jar
**/.gradle/
**/build.gradle.kts.html

**/application-local.properties
**/application-local.yml

**/Dockerfile
**/.dockerignore
**/README.md
**/HELP.md
LICENSE
